body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #111;
    color: white;
}

header {
    background: black;
    padding: 20px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

nav {
    text-align: center;
    padding: 10px;
    background: #1a1a1a;
}

nav a {
    color: white;
    margin: 15px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: red;
}

.title {
    text-align: center;
    margin-top: 20px;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
}

.card {
    background: #1e1e1e;
    width: 250px;
    margin: 15px;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 100%;
    border-radius: 10px;
}

button {
    background: red;
    color: white;
    border: none;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: darkred;
}

.cart {
    background: black;
    padding: 15px;
    margin: 20px;
    border-radius: 10px;
}

footer {
    text-align: center;
    background: black;
    padding: 15px;
    margin-top: 20px;
}
